root = true

[*]

end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,py}]
charset = utf-8

[*.py]
indent_style = space
indent_size = 4

[*.html]
indent_size = 4


[*.css]
indent_size = 4

[Makefile]
indent_style = tab

[lib/**.js]
indent_style = space
indent_size = 2

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
