language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
# 
before_install:
    - sudo apt-get update
    - sudo apt-get -y install python-pip
    - sudo pip install --upgrade pip
    - pip install --upgrade pip
    - pip install pep8
    - pip install autopep8
# command to install dependencies
install:
  - pip install -r requirements.txt
# django environment
env:
  - DJANGO_VERSION=1.11.7
# script
script:
  - python3 manage.py test
