{% extends 'cosmos/header.html' %}
{% block head %}
    <title>404 | cosmos-search</title>
{% endblock %}
{% block body %}
<article style="padding-top: 150px">
    <h1> Oops! Error 404</h1>
    <h2>Seems like the page you've searched for doesn't exist!</h2>
    <div>
        <p>However, Thanks for stopping by! You can go start a search query right above, go to the <a href="/">landing page</a> or <a href="mailto:team@opengenus.org">report</a> the error in case you have expected something else to be here.</p>
        <p>&mdash; <a href="http://opengenus.org">OpenGenus, The Open Group to help the needy</a></p>
    </div>
</article>
{% endblock %}
