{% extends 'cosmos/header.html' %}
{% block head %}
    <title>500 | cosmos-search</title>
{% endblock %}
{% block body %}
<article style="padding-top: 150px">
    <h1> Oops! Error 500</h1>
    <h2>Seems like an internal server error!</h2>
    <div>
        <p>However, Thanks for stopping by! Kindly <a href="mailto:team@opengenus.org">report</a> us the error so that we can fix it.
          You can return to the landing page <a href="/">here</a>.</p>
        <p>&mdash; <a href="http://opengenus.org">OpenGenus, The Open Group to help the needy</a></p>
    </div>
</article>
{% endblock %}
