<style>
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        font-family: 'Roboto Mono', monospace;
        margin-bottom: 10em;
        font-size: 16px;
        overflow-x: hidden;
    }

    article {
        display: block;
        text-align: left;
        width: 80%;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
    }

    .absolute-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #search {
        padding: .1em;
    }
    #search:focus {
        border-width: .1em;
        padding: 0;
        box-shadow: none !important;
    }

    .ui-menu .ui-menu-item a {
        padding: .2em .4em;
        line-height: 1.3 ;
        zoom: 1;
        font-size: .8em;
    }

    main {
    }
</style>
