<style>
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        font-family: 'Roboto Mono', monospace;
        margin-bottom: 10em;
        font-size: 16px;
        overflow-x: hidden;
    }

    article {
        display: block;
        text-align: left;
        width: 80%;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
    }

    .absolute-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
</style>
