<!doctype html>
{% load static %}
<html lang="en">

    <head>
        {% block title %} <title>cosmos-search</title> {% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% include 'cosmos/bundles/js.html' %}
        {% include 'cosmos/bundles/css.html' %}
        {% include 'cosmos/_base_css.html' %}

        {% block css %} {% endblock %}
        {% block extra_head %} {% endblock %}
    </head>

    <body>
        {% include 'cosmos/_nav.html' %}

        {# align search bar and middle of vw #}
        <form class="form-inline justify-content-center m-2" id="formq" action="{% url 'query' %}" method="GET">
            <div class="input-group">
                <button type="button" onclick="clear_search('main_search')" class="btn btn-secondary">
                    <i class="fa fa-remove"></i>
                </button>
                <input class="form-control text-center align-middle" id="main_search" type="search" size="128" placeholder="{{ query }}" value="{{ query }}" aria-label="Search" name="q">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>

        {% block main %} {% endblock %}

        {% include 'cosmos/_footer.html' %}

        <script type="text/javascript"
                src="//platform-api.sharethis.com/js/sharethis.js#property=5a8129cbe45fbb001342fed3&product=custom-share-buttons"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

        <script>
            $(document).ready(function() {
              focus();
              $("#main_search").autocomplete({
                        source: "/",
                        minLength: 1,
                        select: function (e, ui) {
                            $("#formq").submit()
                        }
                    });
            });
            function focus() {
              $("#main_search").select();

            }
            $("#formq").submit(function () {
                if ($('input').val().replace(/[\s,\/#!$%\^&\*;:{}=\-_`~().]/g, '').length === 0) {
                    return false;
                }
            });
            function clear_search(id) {
                document.getElementById(id).value=''
                document.getElementById(id).focus()
            }
        </script>
        {% block js %}
        {% endblock %}
    </body>
</html>
