<!DOCTYPE html>
<html>
    {% extends 'cosmos/header.html' %}
    {% block body %}
        <h1>Human-Curated Lists</h1>
        <hr>
        {% for item in lists %}
            <div class="container" style="border: 2px solid #e5e5e5; border-radius: 10px; background-color: #ffffff; padding: 10px;">
            <a target="_blank" href="{% url 'lists' %}{{item.filename}}"><h4>{{item.title}}</h4></a>
            <p>{{item.description}}</p>
            <p style="text-align:right;">-<a href="{{item.authorlink}}" target="_blank">{{item.author}}</a></p>
            </div>
            <p></p>
        {% endfor %}
    {% endblock %}
</html>
