{% extends 'cosmos/header.html' %}
{% block main %}

<main>
    <h1>News</h1>
    <hr>

    {% for item in queries %}
        <div class="container" style="border: 2px solid #e5e5e5; border-radius: 10px; background-color: #ffffff; padding: 10px;">
        <a target="_blank" href="{{item.url}}"><h4>{{item.title}}</h4></a>
        <p>{{item.description}}</p>
        </div>
        <p></p>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
        {% if queries.has_previous %}
            <a href="?page={{ queries.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ queries.number }} of {{ queries.paginator.num_pages }}.
        </span>

        {% if queries.has_next %}
            <a href="?page={{ queries.next_page_number }}">next</a>
        {% endif %}
        </span>
    </div>
</main>

{% endblock main %}
