{% extends 'cosmos/header.html' %}
{% block title %}

<title>Not Found | cosmos-search</title>

{% endblock title %}

{% block main %}

<main>
<article style="padding-top: 150px">
    <h1> Sorry! </h1>
    <h2>It seems like there are no results for <b>"{{ query }}"</b> !</h2>
    <h6>Try searching something else or request the algorithm you searched for <a href="https://github.com/OpenGenus/cosmos/issues/new">here</a>.</h6><br>
    <h6>&mdash; <a href="http://opengenus.org">OpenGenus, The Open Group to help the needy</a></h6>
</article>
</main>

{% endblock main %}
