<!DOCTYPE html>
<html>
{% extends 'cosmos/header.html' %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--Code for the Search Filter-->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<!--Code Ends-->
<!--Creating Columns for HTML List-->
<style>
ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
</style>
<!--Styling Ends-->
<h1>Tags</h1>
<hr>
<h7>
A tag is a keyword or label that categorizes your search query with other, similar queries. Users can use these tags in exploring new topics and continue browsing without prior knowledge.
</h7>
<br><br>
<input id="myInput" type="text" placeholder="Search...">
<p><br></p>
<ul id="myList">
    {% for tag in tags %}
    <li class="list-group-item"><a href="{% url 'query' %}?q={{tag}}"/>{{ tag }}</li>
    {% endfor %}
</ul>
{% endblock %}
</html>
