{% load random_numbers %}

{% block videos %}

<h5>Youtube results</h5>
<hr>
<div id="videos" class="row"></div>

<div class="row">
    <button class="btn btn-primary mx-auto" style="cursor: pointer;" id="more" onclick="loadAjax()">
        More..
    </button>
</div>

<script>
var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
var video = [];

$(document).ready(function () {
  dataAdded = false;
  append_video_html({{ videos.videos|safe }});
  $("body").show();
});

function Ready(id) {
  $iframeid = "vid" + id;
  if (video[id] == null) {
    object = document.getElementById($iframeid);
    video[id] = new YT.Player(object);
  }
}

function stop(id) {
  video[id].stopVideo();
}

String.prototype.formatUnicorn = String.prototype.formatUnicorn ||
  function () {
    "use strict";
    var str = this.toString();
    if (arguments.length) {
      var t = typeof arguments[0];
      var key;
      var args = ("string" === t || "number" === t) ?
        Array.prototype.slice.call(arguments)
        : arguments[0];

      for (key in args) {
        str = str.replace(new RegExp("\\{" + key + "\\}", "gi"), args[key]);
      }
    }

    return str;
  };

var token = "{{ videos.nextpage }}";
var video_amount = 0;
String.prototype.format = function() {
  var formatted = this;
  for( var arg in arguments ) {
    formatted = formatted.replace("{" + arg + "}", arguments[arg]);
  }
  return formatted;
};

function append_video_html(video_data) {
  var video_html=''
  for (key in video_data) {
    video_amount += 1
    data = video_data[key]
    video_html += `
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <img src="{0}" class="img-responsive image" data-toggle="modal"
             style="max-width: 100%;" data-target="#{1}" border: solid">
        <p style=" margin: 0 !important; padding: 0 !important;">
          <span style="color: #5D337F; font-size: 0.8em">{2}</span>
        </p>
        <p style="font-size: 15px;font-family: initial;"><span
          style="color: blue">Duration: </span> {3}
        </p>
        <div class="modal fade" id="{1}" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 style="font-weight: bold;font-family: -webkit-body;">{2}</h4>
                <button type="button" class="close" data-dismiss="modal"><i
                  class="fa fa-times-circle" onclick="stop({1})"></i>
                </button>
              </div>
              <div class="modal-body">
                <iframe src="{4}?enablejsapi=1" id="vid{1}"
                    class="youtube-iframe"
                    width="100%" height="530px"
                    style="padding: 10px;"
                    allowfullscreen onload="Ready({1})">
                </iframe>
                <br>
                <p>-{5}</p>
                <p>
                  <span class="text-primary">
                    Published At:&nbsp;
                  </span>{6}
                  <span class="text-primary">
                    Time:&nbsp;
                  </span>{7}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    `.formatUnicorn(data['image'],
            data['id'],
            data['title'],
            data['duration'],
            data['embed'],
            data['description'],
            data['date'],
            data['time'])
  }
  $("#videos").append(video_html)
}

function loadAjax() {
  $("#more").attr("disabled", true);
  $.ajax({
    url: '{%  url 'query' %}',
    data: {'type': 'video', 'query': '{{ query }}' + '&' + token + '&' + video_amount, 'max': video_amount},
    success: function (data) {
      append_video_html(JSON.parse(data['videos']));
      token = data['nextpage'];
      $("#res_info").html('Showing <span>' + video_amount + '</span> video results for: <span>{{ query }}</span>')
      $("#video_amount").html(video_amount)
      if (!video_amount || token == 'None') {
        $("#more").hide();
      }
      dataAdded = false
    }
  });
  $("#more").removeAttr("disabled");
}
</script>
{% endblock %}
