{% extends 'cosmos/header.html' %}
{% block head %}
  <title>"cosmos-search</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/sunburst.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      td.hljs-ln-numbers {
        text-align: center;
        color: #ccc;
        border-right: 20px solid #000000;
        border-spacing: 10px;
        vertical-align: top;
        padding: 100px;
        margin: 100px;
      }
      td.hljs-ln-code {
        padding: 100px;
        margin: 100px;
      }
      .tool{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tool .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tool .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tool:focus .tooltiptext {
    visibility: visible;
    opacity: 1;
}
  </style>
{% endblock %}
{% block body %}
<div class="row">
<div class="col-xl-8 ">
  <h5>
  {% for items in path%}
    {{ items }}/
  {% endfor %}
</h5>
</div>
<div class="col-xl-3">
  <a href="https://discourse.opengenus.org" target="_blank"><button type="button" class="btn btn-info">Ask any questions</button></a>
</div>
<div class="col-xl-1">
  <button type="button" name="button" class="btn btn-light tool" onclick="getValue()"><i class="fa fa-clipboard"></i><span class="tooltiptext">Copied</span></button>
</div>
</div>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="soln"
            data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Solutions [{{ result|length }}]
    </button>
    <div class="dropdown-menu" aria-labelledby="soln">
        {% for i in result %} 
          <form method="GET" action="{% url 'display' %}" target="_blank">
            <button type="submit" name="path" class="dropdown-item" value="{{ apath }}/{{ i }}">{{ i }}</button>
          </form>
        {% endfor %}
    </div>
 
<div style="display: none;" id="select">{{code}}</div>
<pre class="language">
      <code>
        {{code}}
      </code>
</pre>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.3.0/highlightjs-line-numbers.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>hljs.initLineNumbersOnLoad();</script>
<script>
function getValue(){
  var select = document.getElementById("select");
  var copy = select.innerHTML;
  copy = copy.replace(/&gt;/g, '>');
  copy = copy.replace(/&lt;/g, '<');
  copy = copy.replace(/&quot;/g, '"');
  copy = copy.replace(/&apos;/g, "'");
  copy = copy.replace(/&amp;/g, '&'); 
  var createtag = $('<textarea>').val(copy).appendTo('body').select();
  document.execCommand('copy');
  createtag.remove();
}
</script>
{% endblock %}