<!doctype html>
{% load static %}
<html lang="en">

<head>
    {% block head %}
        <title>cosmos-search</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"
              href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"
                                                                                 media="all"/>

        {# bootstrap4 #}
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
                integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
                integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
                crossorigin="anonymous"></script>

        <style>
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 5em;
    font-size: 16px;
    overflow-x: hidden;
}

article {
    display: block;
    text-align: left;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 2em;
}

#search {
    padding: .1em;
}
#search:focus {
    border-width: .1em;
    padding: 0;
    box-shadow: none !important;
}
        </style>
        {% block style %}
        {% endblock %}

    </head>

    <body>
        <div class="container">
            <br>
            <div class="row">
                <div class="col-12 col-md-4">
                    <a class="navbar-brand" href="/">cosmos-search</a>
                </div>
                <div class="col-12 col-md-8">
                    <a class="btn float-right" href="https://github.com/OpenGenus/cosmos-search">GitHub</a>
                    <a class="btn float-right" href="https://github.com/OpenGenus/cosmos">cosmos</a>
                    <a class="btn float-right" href="{% url 'query' %}?q=calculator">calculator</a>
                    <a class="btn float-right" href="{% url 'tags' %}">tags</a>
                    <a class="btn float-right" href="{% url 'news' %}">news</a>
                    <a class="btn float-right" href="{% url 'lists' %}">lists</a>
                </div>
            </div>
            </br>
            <div class="row">
                {# align search bar and middle of vw #}
                <form class="form-inline justify-content-center col-12" id="formq" action="{% url 'query' %}" method="GET">
                    <div class="input-group">
                        <button type="button" onclick="clear_search()" class="btn btn-secondary">
                            <i class="fa fa-remove"></i>
                        </button>
                        <input class="form-control text-center align-middle" id="search" type="search" size="128" placeholder="{{ query }}" value="{{ query }}" aria-label="Search" name="q">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <br>
            {% block body %} {% endblock %}

        </div>
        <footer class="footer">
            <div class="text-muted bg-light text-center">
                <div>Built with <3 @<a href="https://github.com/OpenGenus/">OpenGenus</a></div>
                <div>Maintained by and part of the <a href="http://www.opengenus.org/">OpenGenus Foundation</a></div>
            </div>
        </footer>
        <script type="text/javascript"
                src="//platform-api.sharethis.com/js/sharethis.js#property=5a8129cbe45fbb001342fed3&product=custom-share-buttons"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
{% block javascript %}
{% endblock %}
$(document).ready(function() {
  focus();
});
function focus() {
  $("#search").select();
}
$("#formq").submit(function () {
    if ($('input').val().replace(/[\s,\/#!$%\^&\*;:{}=\-_`~().]/g, '').length === 0) {
        return false;
    }
});
function clear_search() {
    document.getElementById('search').value=''
    document.getElementById('search').focus()
}
        </script>
    </body>
</html>
