{% extends 'cosmos/header.html' %}
{% block body %}
{% load random_numbers %}

<article>
    <h1>Welcome to <em>cosmos-search</em></h1>
    <hr>

    <img src="https://raw.githubusercontent.com/OpenGenus/data-store/master/search/art/{% random_int 1 10 %}.jpg" alt="Enjoy our daily code fact" style="width:50vw; height:50vh; position: relative; left: 50%; transform: translate(-50%, 0%);"/>

    <hr>
    <h2>This is the official search tool for <a href="https://github.com/OpenGenus/cosmos">cosmos</a>, </h2>
    <h4>a library of every algorithm and data structure code that you will ever encounter.</h4>
    <p>
        To search for an algorithm, just enter your search keywords in the box above.<br><br>
        &mdash; <a href="http://opengenus.org">OpenGenus, The Open Group to help the needy</a>
    <p>
</article>

{% endblock %}
