{% extends 'cosmos/header.html' %}
{% block body %}
{% load random_numbers %}
<!-- Style for Tags-->
<style>
    ul#menu li {
        display:inline-grid;
        }
</style>
<!-- Styling Ends-->
<article>
    <ul id="menu">
        {% for tag in random %}
        <li><a href="{% url 'query' %}?q={{tag}}">{{tag}}, </a></li>
        {% endfor %}
        <li><a href="{% url 'tags' %}">More...</a></li>
    </ul>
    <h1 style="text-align: center">Welcome to <em>cosmos-search</em></h1>
    <hr>

    <div style="overflow-x: scroll; text-align: center">
        <img src="https://raw.githubusercontent.com/OpenGenus/data-store/master/search/art/{% random_int 1 10 %}.jpg" alt="Enjoy our daily code fact"/>
    </div>
    <hr>

    <h2>This is the official search tool for <a href="https://github.com/OpenGenus/cosmos">cosmos</a>, </h2>
    <h4>a library of every algorithm and data structure code that you will ever encounter.</h4>
    <p>
        To search for an algorithm, just enter your search keywords in the box above.<br><br>
        &mdash; <a href="http://opengenus.org">OpenGenus, The Open Group to help the needy</a>
    <p>
</article>

{% endblock %}
