{% extends 'cosmos/header.html' %}
{% load staticfiles %}
{% block head %}
    <title>"{{ title }}" | cosmos-search</title>

{% endblock %}

{% block body %}
    <h6>
        {% if amount > 1 %}
            Showing
            <span style="color: #5D337F;">{{ amount }}</span> results for:
            <span style="color: #5D337F;">{{ query }}</span>

        {% elif result_val and not result %}
            Showing result for expression: <span style="color: #5D337F;">{{ query }} = {{ result_val }}</span>

        {% elif amount is 1 %}
            Showing
            <span style="color: #5D337F;">{{ amount }}</span> result for:
            <span style="color: #5D337F;">{{ query }}</span>
        {% endif %}
        <span>
        <a href="#" style="color: #1b1e21"><div data-network="twitter"
                                                class="st-custom-button fa fa-twitter-square"></div></a>
        <a href="#" style="color: #1b1e21"><div data-network="facebook"
                                                class="st-custom-button fa fa-facebook-square"></div></a>
        <a href="#" style="color: #1b1e21"><div data-network="linkedin"
                                                class="st-custom-button fa fa-linkedin-square"></div></a>
        <a href="#" style="color: #1b1e21"><div data-network="googleplus"
                                                class="st-custom-button fa fa-google-plus-square"></div></a>
    </span>
    </h6>
    <hr>
    {% if result_val or not result %}
        {% include 'cosmos/calculator.html' %}
    {% endif %}

    {% if result %}
        {% for entry in result %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        {% for i in entry.dirs %}
                            {{ i }} /
                        {% endfor %}
                    </h4>
                    <h5>  {{ entry.avg_vote }}
                        {% if entry.avg_vote < 3 %}
                            <i class="fa fa-star-half" fa="2x" style="color:#FFD700;"></i>
                        {% elif entry.avg_vote >= 4 %}
                            <i class="fa fa-star" fa="2x" style="color:#FFD700;"></i>
                        {% else %}
                            <i class="fa fa-star-half-o" fa="2x" style="color:#FFD700;"></i>
                        {% endif %}</h5>
                    <div>
                        <form id="vote{{ forloop.counter }}" method="post" action="{% url 'search:check' %}"
                              style="display: none;">

                            {% csrf_token %}
                            <input type="hidden" name="project_name" maxlength="500" id="id_project_name"
                                   value="{{ entry.path }}">
                            <input type="hidden" name="ip_address" maxlength="50" id="ip" value="">
                            {{ vote_form.vote_value }}

                        </form>

                        <div style="width: 20%; ">
                            <i class="fa fa-thumbs-o-up"
                               style="font-size: 24px;cursor:pointer; padding: 5%;padding-top: 0%;"
                               onclick="vote_event('vote{{ forloop.counter }}');"></i>
                            <i class="fa fa-comments"
                               style="font-size: 24px;cursor: pointer; padding: 5%;padding-top: 0%;"
                               onclick="comment_event('comment{{ forloop.counter }}');"></i>
                        </div>

                        <form id="comment{{ forloop.counter }}" method="post"
                              style="padding-bottom: 2%; display: none;/*! background: #9f9f9f; */padding: 2%;border: 1px dotted #cec4b8;margin-bottom: 2%;"
                              action="{% url 'search:comment' %}">
                            {% csrf_token %}
                            <input type="hidden" name="project_name" maxlength="500" id="id_project_name"
                                   value="{{ entry.path }}">
                            <div>

                                    {% for cmnt in entry.comment %}
                                         <p style="color: #726b6b;">
                                    <i class="fa fa-quote-left" style="padding-right: 2%;"></i>{{cmnt }}
                                         </p>
                                    {% endfor %}


                            </div>
                            <input type="hidden" name="ip_address" maxlength="50" id="ip" value="">

                            <input placeholder="Write a comment..." name="comment"
                                   style="background: #fff !important;border: 1px solid #dcdcdc;padding: 0.6%;border-radius: 24px;width: 35%;padding-left: 2%;"
                                   type="text">

                            <input type="submit" value="submit" hidden>


                        </form>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="soln" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Solutions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="soln">
                            {% for file in entry.files %}
                                <a href="https://github.com/OpenGenus/cosmos/blob/master/code/{{ entry.path }}/{{ file }}"
                                   target="_blank" class="dropdown-item">{{ file }}</a> {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <br> {% endfor %}
        <h5>Recommended results</h5>
        <hr> {% for j in recommend %}
        <div class="card">
            <div class="card-body">

                <form method="get">
                    <div>
                        <h6 class="card-title">
                            {% for k in j.recdirs %}
                                {{ k }} /
                            {% endfor %}
                        </h6>
                        <a class="btn-link" href="/query/?q={{ j.last }}">solution</a>
                    </div>
                </form>
            </div>
        </div>
        <br>
    {% endfor %}
    {% endif %}
    <script type="text/javascript">
        <!--
        function comment_event(comment{{ forloop.counter}}) {
            var e = document.getElementById(comment{{ forloop.counter}});
            if (e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }

        function vote_event(vote{{ forloop.counter}}) {
            var e = document.getElementById(vote{{ forloop.counter}});
            if (e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }

        //-->
    </script>
{% endblock %}
