{% extends 'cosmos/header.html' %}
{% load staticfiles %}
{% block head %}
        <title>"{{ title }}" | cosmos-search</title>

{% endblock %}
{% block javascript %}

    function displ(x, ext) {
    if (frm.txt.value == 'NaN'){
    frm.txt.value = "";
    frm.seq.value = "";
    }
    if (ext == '('){
    frm.txt.value = frm.txt.value + x + ext;
    }
    else {
    frm.txt.value = frm.txt.value + x;
    }

    }

    function cleartext(x) {
    frm.txt.value = "";
    frm.seq.value = ""
    }

    function equals(x) {
    $("#cl").submit()
    return frm.txt.value;
    }

    function textD(x) {
    if (x == 'NaN') {
    frm.txt.value = ""
    frm.seq.value = ""
    }
    }

{% endblock %}

{% block body %}
    <h6>
    {% if amount > 1 %}
        Showing
        <span style="color: #5D337F;">{{ amount }}</span> results for: <span style="color: #5D337F;">{{ query }}</span>

    {% elif result_val is not None  %}
        Showing result for expression :

    {% elif amount is 1 %}
        Showing
        <span style="color: #5D337F;">{{ amount }}</span> result for: <span style="color: #5D337F;">{{ query }}</span>
    {% endif %}
<span>
        <a href="#" style="color: #1b1e21"><div data-network="twitter"
                                                class="st-custom-button fa fa-twitter-square"></div></a>
        <a href="#" style="color: #1b1e21"><div data-network="facebook"
                                                class="st-custom-button fa fa-facebook-square"></div></a>
        <a href="#" style="color: #1b1e21"><div data-network="linkedin"
                                                class="st-custom-button fa fa-linkedin-square"></div></a>
        <a href="#" style="color: #1b1e21"><div data-network="googleplus"
                                                class="st-custom-button fa fa-google-plus-square"></div></a>
    </span>
</h6>
    <hr>
    {% if result %}
        {% for entry in result %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        {% for i in entry.dirs %}
                            {{ i }} /
                        {% endfor %}
                    </h4>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="soln" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Solutions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="soln">
                            {% for file in entry.files %}
                                <a href="https://github.com/OpenGenus/cosmos/blob/master/code/{{ entry.path }}/{{ file }}"
                                   target="_blank" class="dropdown-item">{{ file }}</a> {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <br> {% endfor %}
        <h5>Recommended results</h5>
        <hr> {% for j in recommend %}
        <div class="card">
            <div class="card-body">

                <form method="get">
                    <div>
                        <h6 class="card-title">
                            {% for k in j.recdirs %}
                                {{ k }} /
                            {% endfor %}
                        </h6>
                        <a class="btn-link" href="/query/?q={{ j.last }}">solution</a>
                    </div>
                </form>
            </div>
        </div>
        <br> {% endfor %}
    {% else %}

    {% endif %}

    {% block style %}
        <link rel="stylesheet" href="{% static 'css/calculator.css' %}">
    {% endblock %}
    <div class="cal-top">
        <form name="frm" id="cl" action="{% url 'query' %}" method="POST">{% csrf_token %}
            <div id="calculator">
                <div class="top">
                    <div class="screen">
                        {% if result_val is not None %}
                            <input type="text" value="{{ query }}" name="seq" id="seq" disabled/>
                            <input type="text" id="abc" name="txt" value="{{ result_val }}" onclick="textD(abc.value)"><br>
                        {% else %}
                            <input type="text" value="" name="seq" id="seq" disabled/>
                            <input type="text" id="abc" name="txt" value="0" onclick="textD(abc.value)"><br>
                        {% endif %}
                    </div>
                </div>
                <div class="keys">
                    <span><input type="button" class="num" name=btn7 value="7" Onclick="displ(btn7.value)"></span>
                    <span><input type="button" class="num" name=btn8 value="8" Onclick="displ(btn8.value)"></span>
                    <span><input type="button" class="num" name=btn9 value="9" Onclick="displ(btn9.value)"></span>
                    <span class="eval"><input type="button" class="num" name=btn_pow value="^"
                                              Onclick="displ(btn_pow.value)"></span>
                    <span class="clear"><input type="button" class="num" name=btnc value="C"
                                               Onclick="cleartext(btnc.value)"></span>
                    <span><input type="button" class="num" name=btn_sqrt value="sqrt"
                                 Onclick="displ(btn_sqrt.value,'(')"></span>
                    <span><input type="button" class="num" name=btn4 value="4" Onclick="displ(btn4.value)"></span>
                    <span><input type="button" class="num" name=btn5 value="5" Onclick="displ(btn5.value)"></span>
                    <span class="img-responsive"><input type="button" class="num" name=btn6 value="6"
                                                        Onclick="displ(btn6.value)"></span>
                    <span class="eval"><input type="button" class="num" name=btn_p value="+"
                                              Onclick="displ(btn_p.value)"></span>
                    <span><input type="button" class="num" name=btn_sin value="sin"
                                 Onclick="displ(btn_sin.value,'(')"></span>
                    <span><input type="button" class="num" name=btn_cos value="cos"
                                 Onclick="displ(btn_cos.value,'(')"></span>
                    <span class="img-responsive"><input type="button" class="num" name=btn1 value="1"
                                                        Onclick="displ(btn1.value)"></span>
                    <span><input type="button" class="num" name=btn2 value="2" Onclick="displ(btn2.value)"></span>
                    <span><input type="button" class="num" name=btn3 value="3" Onclick="displ(btn3.value)"></span>
                    <span class="eval"><input type="button" class="num" name=btn_m value="-"
                                              Onclick="displ(btn_m.value)"></span><br>
                    <span class="img-responsive"><input type="button" class="num" name=btn_tan value="tan"
                                                        Onclick="displ(btn_tan.value,'(')"></span>
                    <span><input type="button" class="num" name=btn_cot value="cot"
                                 Onclick="displ(btn_cot.value,'(')"></span>
                    <span><input type="button" class="num" name=btn_dec value="." Onclick="displ(btn_dec.value)"></span>
                    <span><input type="button" class="num" name=btn0 value="0" Onclick="displ(btn0.value)"></span>
                    <span class="img-responsive">
                                <input type="button" class="num" name=btn_eq value="=" Onclick="equals(btn_eq.value)">
                            </span>
                    <span class="eval"><input type="button" class="num" name=btn_div value="/"
                                              Onclick="displ(btn_div.value)"></span>
                    <span><input type="button" class="num" name=btn_cosec value="cosec"
                                 Onclick="displ(btn_cosec.value,'(')"></span>
                    <span><input type="button" class="num" name=btn_sec value="sec"
                                 Onclick="displ(btn_sec.value,'(')"></span>
                    <span><input type="button" class="num" name=btn_mod value="%" Onclick="displ(btn_mod.value)"></span>
                    <span><input type="button" class="num" name=btn_cb value="(" Onclick="displ(btn_cb.value)"></span>
                    <span class="img-responsive"><input type="button" class="num" name=btn_ob value=")"
                                                        Onclick="displ(btn_ob.value)"></span>
                    <span class="eval"><input type="button" class="num" name=btn_mul value="*"
                                              Onclick="displ(btn_mul.value)"></span>
                    <span><input type="button" class="num" name=btn_exp value="exp"
                                 Onclick="displ(btn_exp.value,'(')"></span>
                    <span><input type="button" class="num" name=btn_log value="log"
                                 Onclick="displ(btn_log.value,'(')"></span>
                </div>
            </div>
        </form>
    </div>


{% endblock %}
