{% extends 'cosmos/searchresults.html' %}
{% block videos %}
    <br>
    <div class="row">
        {% for video in videos %}

            <div class="col-md-3">
                <img src="{{ video.image }}" width="250" height="200" data-toggle="modal" data-target="#{{ video.id }}">
                <p>
                    <span style="color: #5D337F; font-size: 0.8em">{{ video.title }}</span>
                </p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="{{ video.id }}" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content"  style="width: 100%">
                        <div class="modal-header">
                            <h3 class="modal-title" style="text-align: center">{{ video.title }}</h3>
                        </div>
                        <div class="modal-body">
                            <iframe src="{{ video.embed }}" width="100%" height="318px" allowfullscreen onload="start()">
                            </iframe>
                        </div>
                        <div class="modal-footer">
                            <p style="text-align: center">
                                {{ video.description }}
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <br>
            <br>
            <hr>
        {% endfor %}
    </div>
{% endblock %}


