#calculator {
    width: 40% !important;
    min-width: 320px;
    height: auto;

    margin: 0 auto;
    padding: 1em;

    background: #949494;
    box-shadow: .15em .15em rgba(0, 0, 0, .2);
    border-radius: .2em;
}

#calculator * {
    border-radius: .2em;
    border: none;
    outline: none;
    cursor: pointer;
}

#calculator input {
    background: white;
    text-shadow: .1em .1em .1em rgba(0, 0, 0, .1);
}

/* Inset shadow on the screen to create indent */
.screen {
    width: 100%;
    padding: .5em;
    margin: .5em 0;
    font-size: 1em;
    line-height: 1.25em;
    color: white;
    background: white;
    box-shadow: .15em .15em rgba(0, 0, 0, .2);
}

#resultText {
    width: 100%;
    height: 70%;
    text-align: right;
    font-size: 1.2em;
    outline: none;
}

#seq {
    width: 100%;
    height: 30%;
    text-align: right;
    font-size: .75em;
}

.keys-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.keys-col-4 {
    width: calc(100% / 12 * 4);
}

.keys-col-8 {
    width: calc(100% / 12 * 8);
}

.adv-keys span {
    width: calc(100% / 2 - .2em);
    margin: .1em;
}

.base-keys span{
    width: calc(100% / 4 - .2em);
    margin: .1em;
}

/* Applying same to the keys */
.keys * {
    float: left;
    width: 100%;
    box-shadow: .1em .1em rgba(0, 0, 0, .2);
    text-align: center;

    /* prevent selection of text inside keys */
    user-select: none;

    /* Smoothing out hover and active states using css3 transitions */
    transition: all .2s ease;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys .operator input {
    background: #FFF0F5 !important;
}

.keys .eval input {
    background: #a6e3e4 !important;
}

.keys .clear input {
    background: #dcbd5e !important;
}

/* Some hover effects */
.keys span:hover {
    opacity: .75;
    top: .1em;
}

.keys *:active {
    top: .1em;
}
